services:
  - type: web
    name: coloringbook-frontend
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    routes:
      - type: rewrite
        source: /assets/*
        destination: /assets/:splat
      - type: rewrite
        source: /images/*
        destination: /images/:splat
      - type: rewrite
        source: "/*.js"
        destination: /:splat
      - type: rewrite
        source: "/*.css"
        destination: /:splat
      - type: rewrite
        source: "/*.ico"
        destination: /:splat
      - type: rewrite
        source: "/*"
        destination: "/index.html"
    envVars:
      - key: NODE_ENV
        value: production
      - key: VITE_API_BASE_URL
        value: https://coloringbook-backend-n6f5.onrender.com
    headers:
      - path: /*
        name: X-Robots-Tag
        value: noindex
      - path: /assets/*
        name: Cache-Control
        value: public, max-age=31536000, immutable
      - path: "*.js"
        name: Cache-Control
        value: public, max-age=31536000, immutable
      - path: "*.css"
        name: Cache-Control
        value: public, max-age=31536000, immutable
      - path: /images/*
        name: Cache-Control
        value: public, max-age=86400 